name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set Executable Permissions
      run: |
        chmod +x scripts/build-image.sh
        chmod +x scripts/push-image.sh
        chmod +x scripts/deploy.sh

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker Images
      run: ./scripts/build-image.sh

    - name: Push Docker Images
      run: ./scripts/push-image.sh

  deploy:
    needs: build
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set up Terraform CLI
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6

    - name: Terraform Init
      working-directory: ./scripts/terraform
      run: terraform init 

    - name: Terraform Plan
      working-directory: ./scripts/terraform
      run: terraform plan

    - name: Terraform Apply
      working-directory: ./scripts/terraform
      run: terraform apply -auto-approve

    - name: Deploy Kubernetes resources
      run: ./scripts/deploy.sh
